.uploadsched .banner{
    /* background-color: red; */
    margin: 80px 80px 0px 80px;
}

.uploadsched .banner .greeting{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.uploadsched .banner .clock{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.uploadsched .section1 {
    background-color: white;
    margin: 80px 80px 0px 80px;
    border-radius: 15px;
}

.uploadsched .section1 .header{
    padding: 30px 30px 10px 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 60px;
    
}

.uploadsched .section1 .importform{
    padding: 10px 30px 10px 30px;
    /* background-color: red; */
}

.uploadsched .section1 .buttons{
    padding: 10px 30px 30px 30px;
    /* background-color: red; */
}

.uploadsched .section1 .btn{
    /* padding: 10px 100px;  */
    background: #1A1A1D; color: white;
    border: 1px solid #1A1A1D !important;
}

.uploadsched .section2 {
    background-color: white;
    margin: 80px 80px 80px 80px;
    border-radius: 15px;
}

.uploadsched .section2 .header{
    padding: 30px 30px 10px 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 60px;
}

.uploadsched .section2 .scheduleTable{
    padding: 10px 30px 30px 30px;
    /* background-color: red; */
}
.uploadsched .section2 .scheduleTable .headertable{
    background-color: #bebebe !important;
    color: black;
}